@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
/*----------------------------------------
Name: index.css
Developed by: Ilya Pestov
Date Created: 21.08.2013

    px to % conversions
    -------------------
    px  |   %
    -------------------
    9   |   70
    10  |   77
    11  |   85
    12  |   93
    13  |   100
    14  |   108
    15  |   116
    16  |   123.1
    17  |   131
    18  |   138.5
    19  |   146.5
    20  |   153.9
    21  |   161.6
    22  |   167
    23  |   174
    24  |   182
    25  |   189
    26  |   197
    27  |   204
    28  |   212
    29  |   219
    30  |   227
    31  |   234
    32  |   242
----------------------------------------*/
.clearfix:before,
.clearfix:after {
  display: table;
  /* 2 */

  content: " ";
  /* 1 */

}
.clearfix:after {
  clear: both;
}
body {
  background: #2B2B2B;
  color: #4b4b4b;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-size: 14px;
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height: 1.2;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}

a.icon  {
    display: inline-block; /* or inline-block; I think IE would respect it since a link is an inline-element */
    text-align: center;
    text-decoration: none;
    line-height: 60px; 
    width: 60px; 
    color: green;
} /* line height should be equal to the height of the image to vertically center using this technique */


#like {
    background: url(../images/up.png) top left no-repeat; 
}

#like:hover {
    background: url(../images/up-active.png) top left no-repeat; 
}

#like.on {
    background: url(../images/up-active.png) top left no-repeat; 
}



#hate {
    background: url(../images/down.png) top left no-repeat; 
}

#hate:hover {
    background: url(../images/down-active.png) top left no-repeat; 
}

#hate.on {
    background: url(../images/down-active.png) top left no-repeat; 
}


#share {
    background: url(../images/share.png) top left no-repeat; 
}

#share:hover {
    background: url(../images/share-active.png) top left no-repeat; 
}

#share.on {
    background: url(../images/share-active.png) top left no-repeat; 
}

